.todoItem {
  width: 100%;
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.75rem;
  margin-bottom: 12px;
  padding: 1rem;
  input {
    display: none;
  }
  label {
    cursor: pointer;
    width: 22px;
    height: 22px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid var(--color-blue);
    transition: 0.2s;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label:hover {
    opacity: 0.7;
    background-color: var(--color-blue-dark);
  }
  input:checked + label {
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    color: var(--color-gray-100);
  }
  input:checked + label:hover {
    background-color: var(--color-purple-dark);
    border-color: var(--color-purple-dark);
  }
  p {
    flex: 1;
  }
  input:checked + label + p {
    color: var(--color-gray-300);
    text-decoration: line-through;
  }
  span {
    color: var(--color-gray-300);
    transition: 0.2s;
    cursor: pointer;
  }
  span:hover {
    color: var(--color-danger);
  }
}
