:root {
  --color-gray-100: #f2f2f2;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #808080;
  --color-gray-400: #333333;
  --color-gray-500: #262626;
  --color-gray-600: #1a1a1a;
  --color-gray-700: #0d0d0d;
  --color-purple: #8284fa;
  --color-purple-dark: #5e60ce;
  --color-blue: #4ea8de;
  --color-blue-dark: #1e6f9f;
  --color-danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-gray-600);
  color: var(--color-gray-300);
  -webkit-font-smoothig: antialised;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-size: 1rem;
}

main {
  width: 100%;
  max-width: 51vw;
  margin: 0 auto;
}

@media (max-width: 480px) {
  html {
    font-size: 90%;
  }
  main {
    max-width: 90vw;
  }
}
